# Gap Report tool
SERPER_API_KEY=your_serper_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
BREVO_API_KEY=your_brevo_api_key
BREVO_LIST_ID=9
GOOGLE_API_KEY=your_google_pagespeed_api_key
GOOGLE_PLACE_API=your_google_places_api_key
Chrome_UX_Report_API=your_chrome_ux_report_api_key
OPEN_RANK_KEY=your_openpagerank_api_key

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_STARTER_MONTHLY=
STRIPE_PRICE_STARTER_SIX=
STRIPE_PRICE_STARTER_ROLLING=
STRIPE_SETUP_STARTER=
STRIPE_PRICE_GROWTH_MONTHLY=
STRIPE_PRICE_GROWTH_SIX=
STRIPE_PRICE_GROWTH_ROLLING=
STRIPE_SETUP_GROWTH=
STRIPE_PRICE_PRO_MONTHLY=
STRIPE_PRICE_PRO_SIX=
STRIPE_PRICE_PRO_ROLLING=
STRIPE_SETUP_PRO=

# TinaCMS
PUBLIC_TINA_CLIENT_ID=
TINA_TOKEN=

# Vercel
VERCEL_TOKEN=
